[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ configured_user }}
ExecStart={{ installation_destination }}/node_exporter/node_exporter

[Install]
WantedBy=default.target