#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --activate
network  --hostname=client.server

# Root password
rootpw --iscrypted $6$1oF9heMHmVN6QaCd$DRXoRJ6Kaie1206WuLhNvmYdBecFuj/I4TsZSsfgt4uW8yHH1ORz7a/6tOJ8q4Cb7eHNEt3I8gqId.1EMqg4j/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=client --password=$6$vx3KU/qCsk/WkuUC$cMyJ8UJYR9/w6lxUd/UxuQgfeW9P3Kmwk/vceVP664VBBkI1NgVY8Z54z/qAXLVmV8WKv/buei2iToLNe51.U1 --iscrypted --gecos="client"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
echo "ALL ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/workstation # add sudo profiles for ansible and vagrant
sed -i "s/^[^#].*requiretty/#Defaults requiretty/" /etc/sudoers # disable requiretty setting
%end
